{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playce | Sua Arena de Esportes</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    
    <link rel="stylesheet" href="{% static 'css/globals.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>

    <header>
        <div class="logo">
            <i class="fa-solid fa-ranking-star"></i> Play<span>ce</span>
        </div>
        
        <nav class="nav-menu">
            <a href="{% url 'home_index' %}" class="nav-link">Home</a>
            <a href="#" class="nav-link">Quadras</a>
            <a href="{% url 'gerenciamento' %}" class="nav-link">Gerenciamento</a>
            <a href="{% url 'lojas' %}" class="nav-link">Lojas</a>
        </nav>

        <div class="nav-auth">
            <a href="#" class="btn-login"><i class="fa-regular fa-user"></i> Login / Cadastro</a>
        </div>
    </header>

    <section class="banner">
        <h2>A maior rede de complexos esportivos da região</h2>
        <p>Alugue quadras de futebol, vôlei e tênis em poucos cliques. Chame os amigos e jogue!</p>
        <br>
        <div class="banner_img">
            <img src="https://i.ibb.co/MxJrbp9N/campo.jpg" alt="campo" border="0">
        </div>
    </section>

    <section class="features-container">
        <h2 class="features-title">Por que escolher o Playce?</h2>
        
        <div class="features-grid">
            <div class="feature-card">
                <i class="fa-solid fa-bolt"></i>
                <h3>Reserva Online</h3>
                <p>Agende e garanta seu horário de jogo pelo nosso sistema em minutos, sem complicação.</p>
            </div>

            <div class="feature-card">
                <i class="fa-solid fa-store"></i>
                <h3>Loja Oficial</h3>
                <p>Esqueceu o meião ou a bolinha? Compre diretamente no nosso catálogo com carrinho integrado.</p>
            </div>

            <div class="feature-card">
                <i class="fa-solid fa-medal"></i>
                <h3>Estrutura de Elite</h3>
                <p>Quadras com medidas oficiais, iluminação profissional de LED e vestiários completos à sua disposição.</p>
            </div>
        </div>
    </section>

</body>
</html>